.buttonShake {
  animation: shake 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(-8px, 0px);
  }
  80% {
    transform: translate(12px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.topButton {
  top: 30px;
  width: 180px;
  animation: moveTop 0.6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.middleButton {
  top: 38px;
  width: 180px;
}

.bottomButton {
  top: 48px;
  width: 180px;
  background-color: #14111a;
  animation: moveBottom 0.6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes moveTop {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -16px);
  }
}

@keyframes moveBottom {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 16px);
  }
}
